@model List<Student>
<h2 id="lolsed">Student List</h2>
        <style>
            #asx{
                display:initial;}
        </style>

        <br /><br />

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr class="table-active">
			<th>Student I.D.</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach(Student s in Model)
			{
				<tr>
				<td>@s.StudentID</td>
				<td>@s.Lastname</td>
				<td>@s.Firstname</td>
				<td>
				<a asp-controller="Student" asp-action="Update"  asp-route-id = "@s.StudentID" 
				class="btn btn-outline-info btn-sm">
				Update
				</a>
				<form asp-controller="Student" asp-action="Delete" method="post" style="display: inline">
				<input type="hidden" name="StudentID" value = @s.StudentID />
				<button class="btn btn-outline-danger btn-sm">
				Delete</button>
				</form>
				</td>
				</tr>
			}
		}

	</tbody>
</table>

@section Scripts{
<script>
    document.addEventListener('DOMContentLoaded', function() {
    Swal.fire({
        icon: 'success',
        title: 'Hello',
        text: 'Welcome to Lucir Book-Keeping',
    });
});
</script>
}

